body{
    background-color: rgb(248, 244, 239);
}

/* TÍTULO*/
#titulo{
    text-align: center;
    color: brown;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /*padding: 3%;*/
}
/*EDITAR EL DIV DEL MENÚ*/
.menu{
    /*HACER FLEXIBLE EL DIV PARA MOVER LOS ELEMENTOS*/
    display: flex;
    /*CENTRAR EL CONTENIDO DEL DIV*/
    justify-content: center;
    /*COLOR*/
    background-color: rgb(202, 146, 146);
    /*cambiar el ancho*/
    width: 100%;
    
}

.navegacion{
    /*ESPACIO*/
    padding: 1%;
    /* COLOR DE LA LETRA*/
    color: rgb(246, 244, 244);
    /*QUITARLA LÍENA DEL ANCLA*/
    text-decoration:none;
    /*CENTRAR EL TEXTO*/
    text-align: center;

}
.navegacion:hover{
    color: brown;
}

.div-class{
    /*HACER FLEXIBLE EL DIV PARA MOVER LOS ELEMENENTOS*/
    display: flex;
    /*CENTRAR LAS IMAGENES*/
    justify-content: center;

}
.imagen{
    /*cambiar el ancho imagen */
    width: 30%;
    /* cambiar la altura de la imagen*/
    height: 30%;
    /*bordes de la imagenes*/
    border-radius: 3px ;
    /* separación de las imagnes*/
    padding: 2%;

}
/* CENTRAR EL DIV DE LAS IMAGENES */
.div-imagenes{
    display: flex;
    justify-content: center;
}

.disco-lanzamiento{
     /*cambiar el ancho imagen */
     width: 200px;
     /* cambiar la altura de la imagen*/
     height: 200px;
     /*bordes de la imagenes*/
     border-radius: 3px ;
     /*centrar la imagen*/
     text-align: center;
}

.franja{
    background-color: rgb(190, 163, 163);

}

.franja-n{
    background-color: rgb(64, 56, 72);

}

.franja-m{
    background-color: rgb(160, 32, 40);

}

.franja-o{
    background-color: rgb(40, 80, 56);

}

.franja-e{
    background-color: rgb(24, 64, 96);

}

.franja-skd{
    background-color: rgb(148, 114, 40);

}

.disco{
    color: white;
}
.franja-disco{
    display: list-item;
    background-color: rgb(190, 163, 163);
    height: 40%;

}
.div-disco{
    text-align: center;
    height: 20%;
}